/*
 * Footer styles
 */

footer {
  font-size: .69rem;
  text-align: center;
  font-weight: bold;
  padding: 10rem 0 5rem 0;
}

footer a {
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
}
