/*
 * Grid styles
 */
.grid-sizer,
.grid-item {
  width: 350px;
}

.gutter-sizer {
  width: 2%;
}

.grid-item {
  margin-bottom: 2rem;

  a.grid-item-img-link {
    display: block;
    margin-bottom: 2rem;
  }

  .grid-item-date {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .7rem;
    color: #767676;
    margin-bottom: 1rem;
  }

  .grid-item-title {
    display: block;
    font-family: Springville;
    font-size: 3rem;
    font-weight: normal;
    color: #000;
    line-height: 1;
    margin-bottom: 1rem;
  }

  &:hover > a:nth-of-type(2) {
    text-decoration: underline;
    cursor: pointer;
  }

  &:hover div.grid-item-readme {
    opacity: 1;
  }

  div.grid-item-by {
    font-size: .7rem;
    padding-bottom: 2rem;
  }

  div.grid-item-readme {
    display: none;
    opacity: 0;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    bottom: -40px;
    padding: 15px 25%;
    border: 1px solid #000;
    width: fit-content;
    margin: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    transition: opacity .25s;
  }
}
