/*
 * Grid styles
 */
.grid-sizer,
.grid-item {
  width: 350px;
}

.gutter-sizer {
  width: 2%;
}

.grid-item {
  //align-self: flex-start;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid black;
}

