/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 1000px;
  height: 200vh;
  margin: -100px 0 0 -555%;
  padding: 50px;
  padding-top: 125px;
  background: $menuBackground;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  overflow: hidden;

  li {
    padding: 10px 0;
  }
}

