/*
 * Text Colors
 */
$primaryText: #000;
$secondaryText: #767676;
$link: #767676;
$linkHover: tomato;
$menuBackground: #ededed;
$mobile-break: 320px;
$mobile-min: 321px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1199px;
