/*
 * Mobile Styles
 */
@media all and (max-width: $mobile-break) {
  header.fixed-header {
    height: 50px;
    padding: 0;
  }

  header > div {
    height: 50px;
  }

  header img {
    width: 150px;
  }

  header a.info {
    display: none;
  }

  div.container > div .info {
    padding: 0 10px;
  }
  div.rotator {
    top: 50px;
    margin-bottom: 5rem;
    height: auto;
  }

  .grid-item {
    max-width: 290px;
  }

  .grid-item > img {
    max-width: 100%;
  }

  .grid-item .grid-item-title {
    font-size: 2rem;
  }

}

@media all and (min-width: $mobile-min) and (max-width: $mobile-max) {
  .grid-item {
    margin: 0;
    left: 50%!important;
    margin-right: -50%;
    transform: translate(-50%, 0%);
  }

  header a.info {
    display: none;
  }

  .grid-item .grid-item-title {
    font-size: 2rem;
  }
}
