/*
 * Mobile Styles
 */
@media all and (max-width: $mobile-break) {
  header {
    &.fixed-header {
      height: 50px;
      padding: 0;
    }

    div.container {
      height: 50px;
    }

    img {
      width: 150px;
      padding: 0 15px;
    }

    a.info {
      display: none;
    }

    span.info {
      padding: 0 10px;
    }

    #menuToggle {
      padding-right: 15px;
    }
  }

  div.rotator {
    top: 50px;
    margin-bottom: 5rem;
    height: auto;

    div.img {
      min-width: 320px;
      min-height: 240px;
    }
  }

  .grid-item {
    max-width: 290px;

    img.grid-item-img {
      max-width: 100%;
    }
    a.grid-item-title {
      font-size: 2rem;
    }
  }
}

@media all and (max-width: 400px) {
  div.rotator li.slide div.legend {
    h1 {
      margin: 0 0 5px 0;
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1rem;
      margin: 0 0 5px 0;
    }

    p {
      font-size: .6rem;
    }
  }
}

@media all and (min-width: $mobile-min) and (max-width: $mobile-max) {

  header {
    &.fixed-header {
      height: 50px;
      padding: 0;
    }

    div.container {
      height: 50px;
    }

    img {
      width: 150px;
      padding: 0 15px;
    }

    a.info {
      display: none;
    }

    span.info {
      padding: 0 10px;
    }

    #menuToggle {
      padding-right: 15px;
    }
  }

  div.rotator {
    top: 50px;
    margin-bottom: 5rem;
    height: auto;
  }

  .grid-item {
    max-width: 290px;
    left: 50%!important;
    margin-right: -50%;
    transform: translate(-50%, 0%);

    img.grid-item-img {
      max-width: 100%;
    }

    a.grid-item-title {
      font-size: 2rem;
    }
  }
}

