/*
 * Tablet Styles
 */
@media all and (min-width: 401px) and (max-width: $tablet-min) {
  div.rotator li.slide div.legend {
    h1 {
      margin: 0 0 5px 0;
      font-size: 2rem;
    }

    h2 {
      font-size: 1.25rem;
      margin: 0 0 5px 0;
    }

    p {
      font-size: .8rem;
    }
  }
}

@media all and (min-width: $tablet-min) and (max-width: 991px) {

  .grid-sizer,
  .grid-item {
    width: 300px;
    margin-left: 5%;
  }

  .grid-item {
    img {
      max-width: 300px;
    }

    a.grid-item-title {
      font-size: 2rem;
    }
  }
}

@media all and (min-width: 992px) and (max-width: $tablet-max) {
  .grid-sizer,
  .grid-item {
    width: 320px;
    margin: 0 7%;
  }

  .grid-item {
    img {
      max-width: 320px;
    }

    a.grid-item-title {
      font-size: 2rem;
    }
  }
}
